<% content_for :head do %>
  <%= javascript_include_tag("pages/top") %>
<% end %>
<main class="situation show container">
  <section class="hero">
    <h1 class="page_title">SCENE</h1>
    <h2 class="situation_title"><%= @situation.title %></h2>
    <div class="inner">
      <div class="thum">
        <%= image_tag @situation.thumbnail %>
      </div>
      <div class="txts">
        <h3 class="title txt">あらすじ</h3>
        <p class="txt">
          <%= sanitize @situation.scenario, tags: ['br'] %>
        </p>
        <a class="button" href="<%= url_for(step_path(@step)) %>">
          START
        </a>
      </div>

    </div>
  </section>
</main>
